:root {
  --main-color: white;
  --secondary-color: #333;
  --text-color: black;

  --form-button-add-color: #35858b;
  --form-button-cancel-color: gray;
  --form-button-delete-color: red;
  --form-button-disabled-color: gray;

  --form-button-text-color1: white;
  --form-button-text-color2: black;
  --form-button-hover-border-color: #35858b;

  --form-border-color: #aaa;
  --form-background-color: #aaa;
  --form-title-color: black;
  --form-titles-color: #222;
  --form-link-color: #222;
  --form-link-hover-color: #aaa;
  --form-input-color: white;
  --form-input-text-color: black;
  --form-input-focus-color: #35858b;
  --form-error-color: #e34747;
  --form-success-color: #43a854;
  --form-bounce-color: red;

  --header-color: #222;
  --header-text-color: white;
  --header-text-hover-color: #35858b;

  --footer-color: #222;
  --footer-text-color: white;

  --cards-color: #555;
  --cards-type-color: #aaa;
  --cards-title-text-color: white;

  --home-button-color1: black;
  --home-button-color2: #ccc;
  --home-button-text-color1: white;
  --home-button-text-color2: black;

  --forum-container-color: #eee;
  --forum-input-color: black;
  --forum-input-text-color: white;
  --forum-message-sent-color: #0099ff;
  --forum-message-sent-text-color: white;
  --forum-message-receaved-color: #373737;
  --forum-message-receaved-text-color: white;

  --qcm-text-color: black;
}
