.main-content {
    flex-direction: column;
    height: 100vh;
    width: 100%;
}

.formu-logo-wrap {
    margin: var(--spacing-l) var(--spacing-xl);
}

.formu-logo {
    width: 120px;
    height: auto;
    filter: invert(1);
}

.password-form-wrap {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.password-form {
    padding: var(--spacing-zero) var(--spacing-l);
    max-width: 400px;
}

.form-title-wrap {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: var(--spacing-s);
}

.form-title {
    margin-bottom: unset;
    text-align: left;
}

.form-subtitle-wrap {
    width: 100%;
    justify-content: flex-start;
    margin-bottom: var(--spacing-xxxl);
}

.form-subtitle {
    font-size: var(--text-size-m);
    color: var(--content-color-secondary);
    font-weight: var(--text-weight-thin);
    line-height: var(--line-height-s);
}

.main-footer-wrap {
    width: 100%;
    flex-direction: row;
    justify-content: center;
}

.footer-text-wrap {
    margin: var(--spacing-xl) var(--spacing-zero);
}

.footer-text {
    font-size: var(--text-size-s);
    color: var(--content-color-secondary);
    font-weight: var(--text-weight-thin);
}

.congratulation-content-wrap {
    height: 100%;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
}

.congratulation-content {
    margin: var(--spacing-zero) var(--spacing-l);
    max-width: 400px;
}

.congratulation-icon-wrap {
    width: 100%;
    justify-content: center;
    margin-bottom: var(--spacing-xxl);
}

.congratulation-icon {
    fill: currentColor;
    color: var(--base-color-success);
    width: 32px;
    height: 32px;
}

.email-not-sent {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: var(--background-color-secondary);
    border-radius: var(--border-radius-xxl);
    margin-bottom: var(--spacing-xxl);
    align-items: center;
}

.ens-icon-wrap {
    height: 24px;
    width: 24px;
    margin: var(--spacing-m);
}

.ens-text-wrap {
    padding: var(--spacing-m);
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ens-text {
    font-size: var(--text-size-m);
    color: var(--content-color-secondary);
    line-height: var(--line-height-m);
    margin-bottom: unset;
}